<ion-header>
  <ion-navbar color="primary"> 
		<button ion-button menuToggle icon-only>
			<ion-icon name='menu'></ion-icon>
		</button>
		<ion-title>
			Gewgle Keep {{' : ' + categoryPlaceholder}}
		</ion-title>
	  <!-- <button ion-button right menuButton (click)="presentPopover(ev)">
		  <ion-icon name="funnel"></ion-icon>
			<ion-list>
				<ion-item *ngFor="let item of items" (click)="viewItem(item)" 
				on-swipe="released(item)">
				<!- <ion-icon [name]="category.icon" item-left></ion-icon> -->
				<!-- {{item.title}}</ion-item>
			</ion-list>
	  </button> -->
		<ion-buttons end>
			<button ion-button icon-only (click)="presentPopover($event)">
				<!-- <ion-icon name="funnel"></ion-icon> -->
			</button>
		</ion-buttons>
		
	<!-- <ion-buttons end>
		<button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>
	</ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p> -->
	<ion-list>
		<ion-item *ngFor="let item of items | async" (click)="viewItem(item)" on-swipe="released(item)">{{item.title}}</ion-item>
		<!-- <ion-icon [name]="item.categIcon" item-left></ion-icon> -->
	</ion-list>

	<!-- (click)="viewItem(item)" -->
	<div class="spanComment">
		<span class="emptyMessageText">{{spanContent}}</span>
	</div>

		<ion-fab right bottom>
			<button ion-fab color="secondary" (click)="addItem()"><ion-icon name="add"></ion-icon></button>
		</ion-fab>

		<button full ion-button (click)="logout()">Log Out</button>

		<!-- test write -->
		<button full ion-button (click)="save()">Save test</button>

</ion-content>
